<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
<p th:text="${msg}">
<form method="post" action="loginToTop" th:object="${loginForm}">
    ユーザ    <input type="text"  maxlength="10" value="" th:field="*{userName}"><br/>
    パスワード<input type="text"  maxlength="10" value=""  th:field="*{passWord}"><br/>
    <input type="submit" value="ログイン">
</form>
<br/>
<form action="/facebookLogin" method="get">
    <input type="submit" value="Facebookでログイン"/>
</form>

</body>
</html>